$grid-columns: 12 !default;

$container-width-xs: 37.5rem; // ~600px
$container-width-sm: 45rem; // ~720px
$container-width-md: 64rem; // ~1024px
$container-width-lg: 80rem; // ~1280px
$container-width-xl: 90rem; // ~1440px

$icon-xs: 16px;
$icon-sm: 24px;
$icon-md: 32px;
$icon-lg: 48px;
$icon-xl: 64px;

$radius: 0.25em;
